.gdb_history
/target/*
/build/*
/exprs/
/scripts/
/bug/

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# VS2017 and VSCode config files.
.vscode
.vs
# pythonenv for github Codespaces
pythonenv*
# clangd index. (".clangd" is a config file now, thus trailing slash)
.clangd/
.cache

TODO.md
compile_commands.json
Xsan_config.cmake

xsan_hooks_gen.h
