# A workflow to release XSan by manually trigger by repo/Actions.

name: LIT Test on PR

on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev-xsan
      - 'users/**'
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  lit-test:
    timeout-minutes: 30
    if: github.repository == 'Camsyn/XSan'
    strategy:
      fail-fast: false
      matrix:
        os_type: [ubuntu-22.04]
        # Do not check Release build to save the CI budget
        build_type: [Debug]
        # build_type: [Debug, Release]
        version: [15]
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number }}-${{ matrix.os_type }}-${{ matrix.build_type }}-${{ matrix.version }}
      cancel-in-progress: true
    runs-on: ${{ matrix.os_type }}
    steps:
      - name: Checkout code
        # uses: actions/checkout@v4
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build XSan
        uses: ./.github/workflows/build
        with:
          build_type: ${{ matrix.build_type }}
          llvm_version: ${{ matrix.version }}
          extra_cmake_args: '-DXSAN_ENABLE_LIT_TESTS=ON'

      - name: Export environment variables
        run: |
          echo "X_CC=clang-${{ matrix.version }}" >> $GITHUB_ENV
          echo "X_CXX=clang++-${{ matrix.version }}" >> $GITHUB_ENV

      - name: Run ASan LIT tests
        id: check-asan
        if: always()
        run: |
          cmake --build build --target check-asan

      - name: Run TSan LIT tests
        id: check-tsan
        if: always()
        run: |
          cmake --build build --target check-tsan

      - name: Run MSan LIT tests
        id: check-msan
        if: always()
        run: |
          cmake --build build --target check-msan

      - name: Run UBSan LIT tests
        id: check-ubsan-only
        if: always()
        run: |
          cmake --build build --target check-ubsan-only
