# A workflow to build XSan automatically.
name: Build

on:
  workflow_call:
    inputs:
      require_build_artifacts:
        description: Whether to upload build artifacts.
        required: true
        type: boolean

      extra_cmake_args:
        required: false
        type: string
      
      build_type:
        required: false
        type: string
        default: 'Release'

      os_list:
        required: false
        type: string
        # default: '["ubuntu-22.04", "windows-2019", "macOS-13"]'
        # Only support ubuntu-22.04 for now.
        default: '["ubuntu-22.04"]'

      python_version:
        required: false
        type: string
        default: '3.11'

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        # Specify the version of clang/LLVM to build.
        # Currently, we only support LLVM 15.
        version: [15]

    steps:
    - name: Checkout code
      # uses: actions/checkout@v4
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2


    - name: Install dependencies (Linux)
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo add-apt-repository "deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy main"
        sudo add-apt-repository "deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-15 main"
        # Workaround for issue https://github.com/llvm/llvm-project/issues/133861
        sudo ln -s /usr/lib/llvm-${{ matrix.version }}/lib /usr/lib/lib
        sudo ln -s /usr/lib/llvm-${{ matrix.version }}/include /usr/lib/include
        sudo apt-get update
        sudo apt-get install ninja-build clang-${{ matrix.version }} llvm-${{ matrix.version }}-dev libclang-${{ matrix.version }}-dev

    - name: Build XSan
      run: |
        mkdir build && cd build
        cmake -G Ninja \
             -DCMAKE_BUILD_TYPE=${{ inputs.build_type }} \
             -DLLVM_DIR=/usr/lib/llvm-${{ matrix.version }}/lib/cmake/llvm \
             -DClang_DIR=/usr/lib/llvm-${{ matrix.version }}/lib/cmake/clang \
             -DCMAKE_CXX_COMPILER=clang++-${{ matrix.version }} \
             -DCMAKE_C_COMPILER=clang-${{ matrix.version }} \
             .. 
        cmake --build . -j
    
    - name: Archive Artifacts
      if: ${{ inputs.require_build_artifacts }}
      run: |
        cd build
        cmake --build . --target package
        cmake --build . --target package_source
        mkdir -p artifacts
        cp -r XSan-*.tar.gz XSan-*.zip artifacts/

    - name: Upload Artifacts
      if: ${{ inputs.require_build_artifacts }}
      uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 #v4.3.0
      with:
        path: build/artifacts
        name: artifacts-${{ github.run_id }}-${{ matrix.version }}
        retention-days: 7

