name: Prepare Release on Milestone Closure

on:
  milestone:
    types: [closed]

permissions: write-all

jobs:
  create-release-pr:
    if: ${{ github.event.milestone.open_issues == 0 && github.event.milestone.closed_issues > 0 }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: "Get Version from Milestone Title"
        id: get_version
        run: |
          # Extract version from milestone title
          VERSION="${{ github.event.milestone.title }}"
          echo "Milestone version: $VERSION"
          # Validate version format is X.Y.Z
          if ! [[ "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Milestone title '${VERSION}' is not a valid semantic version. Skipping."
            exit 0 # Exit normally, without error
          fi
          # Split version number
          MAJOR=$(echo "$VERSION" | cut -d. -f1)
          MINOR=$(echo "$VERSION" | cut -d. -f2)
          PATCH=$(echo "$VERSION" | cut -d. -f3)
          echo "major=${MAJOR}" >> $GITHUB_OUTPUT
          echo "minor=${MINOR}" >> $GITHUB_OUTPUT
          echo "patch=${PATCH}" >> $GITHUB_OUTPUT
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Update CMakeLists.txt Version
        # Only run if the version is successfully parsed
        if: steps.get_version.outputs.version
        run: |
          # Update the version number in CMakeLists.txt using sed
          sed -i "s/set(PROJECT_VERSION_MAJOR .*)/set(PROJECT_VERSION_MAJOR ${MAJOR})/g" CMakeLists.txt
          sed -i "s/set(PROJECT_VERSION_MINOR .*)/set(PROJECT_VERSION_MINOR ${MINOR})/g" CMakeLists.txt
          sed -i "s/set(PROJECT_VERSION_PATCH .*)/set(PROJECT_VERSION_PATCH ${PATCH})/g" CMakeLists.txt
        env:
          MAJOR: ${{ steps.get_version.outputs.major }}
          MINOR: ${{ steps.get_version.outputs.minor }}
          PATCH: ${{ steps.get_version.outputs.patch }}

      - name: Generate Release Notes
        if: steps.get_version.outputs.version
        uses: docker://decathlon/release-notes-generator-action:3.1.5
        id: release_notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OUTPUT_FOLDER: release_notes # Output Release Notes to specific folder
          USE_MILESTONE_TITLE: "true"

      - name: Fix file permissions
        if: steps.get_version.outputs.version
        id: read_notes
        run: |
          cp release_notes/${{ steps.get_version.outputs.version }}.md docs/release_notes/
          sudo chown -R $(id -u):$(id -g) $GITHUB_WORKSPACE
          # Use special syntax to set up multi-line output
          echo "notes<<EOF" >> $GITHUB_OUTPUT
          cat docs/release_notes/${{ steps.get_version.outputs.version }}.md >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: steps.get_version.outputs.version
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: bump version to ${{ steps.get_version.outputs.version }}"
          title: "chore: bump to version ${{ steps.get_version.outputs.version }}"
          body: |
            This PR was automatically generated after closing milestone [${{ github.event.milestone.title }}](${{ github.event.milestone.html_url }})

            ${{ steps.read_notes.outputs.notes }}
          branch: "release/v${{ steps.get_version.outputs.version }}"
          base: "dev-xsan"
          labels: "release"
          add-paths: |
            docs/release_notes/${{ steps.get_version.outputs.version }}.md
            CMakeLists.txt

      - name: Create/Delete Milestones
        if: steps.get_version.outputs.version
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          MAJOR: ${{ steps.get_version.outputs.major }}
          MINOR: ${{ steps.get_version.outputs.minor }}
          PATCH: ${{ steps.get_version.outputs.patch }}
        run: ./.github/scripts/manage_milestones.sh 
        shell: bash
